Repository EduardDE7/nova-team-crm-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint, npm run lint, npm run prettier:fix

.lintstagedrc:

{
    "*.scss": "npm run stylelint",
    "*.{js,jsx,ts,tsx}": ["npm run lint", "npm run prettier:fix"]
}

apply autofix script
  src/pages/PageNotFound/index.ts
Due: npm run lint, npm run prettier:fix

fix wrong imports
  .storybook/preview.ts
  src/shared/ui/button/Button.tsx
Due: npm run lint, npm run prettier:fix

add deprecations for legacy components
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/typography/text/Text.tsx
  src/shared/ui/typography/title/Title.tsx
Due: npm run lint, npm run prettier:fix

feat: tailwind implementation
  package-lock.json
  package.json
  postcss.config.js
  src/app/styles/index.scss
  tailwind.config.js
Due: npm run stylelint, npm run lint, npm run prettier:fix

move port declaration in vite config
  package.json
  vite.config.ts
Due: npm run lint, npm run prettier:fix

feat: sidebar refactor
  .storybook/preview.ts
  src/pages/CalendarPage.tsx
  src/pages/InfoPortalsPage.tsx
  src/pages/MembersPage.tsx
  src/pages/MessangerPage.tsx
  src/pages/ProjectsPage.tsx
  src/shared/assets/icons/members.svg
  src/shared/router/URL/urlsConstants.ts
  src/shared/router/index.ts
  src/shared/ui/icon/utils.ts
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.module.scss
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.tsx
  src/widgets/sidebar/ui/sidebar-item/index.ts
  src/widgets/sidebar/ui/sidebar/Sidebar.module.scss
  src/widgets/sidebar/ui/sidebar/Sidebar.stories.tsx
  src/widgets/sidebar/ui/sidebar/Sidebar.tsx
  src/widgets/sidebar/ui/sidebar/sidebar.data.ts
  tailwind.config.js
Due: npm run stylelint, npm run lint, npm run prettier:fix

feat: small fixes
  src/shared/assets/icons/employees.svg
  src/shared/assets/icons/projects.svg
  src/shared/ui/icon/utils.ts
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/ui/index.ts
  src/widgets/sidebar/ui/sidebar/Sidebar.stories.tsx
  src/widgets/sidebar/ui/sidebar/Sidebar.tsx
  src/widgets/sidebar/ui/sidebar/index.ts
  src/widgets/sidebar/ui/sidebar/sidebar.data.ts
  tailwind.config.js
Due: npm run lint, npm run prettier:fix

feat: small fixes
  src/widgets/sidebar/ui/sidebar/Sidebar.tsx
Due: npm run lint, npm run prettier:fix

add .env to gitignore
  .gitignore
Due: none

refactoring Input,Checkout,added icon from figma,created AuthPage and LoginPage
  package-lock.json
  package.json
Due: none

added some dependencies
  package-lock.json
Due: none

added .env and some more change
  package-lock.json
  package.json
  src/app/styles/colorTheme.scss
  src/pages/auth-page/AuthPage.module.scss
  src/pages/auth-page/AuthPage.tsx
  src/pages/login-page/LoginPage.module.scss
  src/pages/login-page/LoginPage.tsx
  src/shared/assets/icons/hide.svg
  src/shared/ui/input/Input.module.scss
  src/shared/ui/theme/ThemeProvider.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

fix error git conflict
  src/pages/MessangerPage.tsx
  src/pages/MessengerPage.tsx
  src/pages/auth-page/AuthPage.tsx
  src/shared/router/URL/urlsConstants.ts
  src/shared/router/index.ts
  src/widgets/sidebar/ui/sidebar/sidebar.data.ts
Due: npm run lint, npm run prettier:fix

authPage added input logic and processing error
  src/pages/auth-page/AuthPage.tsx
  src/shared/ui/input/Input.module.scss
Due: npm run stylelint, npm run lint, npm run prettier:fix

waiting for a checkbox
  src/pages/auth-page/AuthPage.module.scss
  src/pages/auth-page/AuthPage.tsx
  src/pages/login-page/LoginPage.module.scss
  src/pages/login-page/LoginPage.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

refactoring checkbox
  src/shared/ui/checkbox/Checkbox.module.scss
  src/shared/ui/checkbox/Checkbox.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

added property cursor
  src/shared/ui/checkbox/Checkbox.module.scss
Due: npm run stylelint

changing logic component
  src/shared/assets/icons/done.svg
  src/shared/ui/checkbox/Checkbox.module.scss
  src/shared/ui/checkbox/Checkbox.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

added function onChange() in storybook
  src/shared/ui/checkbox/Checkbox.stories.ts
  src/shared/ui/checkbox/Checkbox.stories.tsx
Due: npm run lint, npm run prettier:fix

some more fixes
  src/shared/ui/checkbox/Checkbox.module.scss
  src/shared/ui/checkbox/Checkbox.stories.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

decomposition without logic
  .prettierrc
  src/pages/auth-page/AuthPage.tsx
  src/pages/login-page/LoginPage.module.scss
  src/pages/login-page/LoginPage.tsx
  src/widgets/auth-layout/form-auth/FormAuth.module.scss
  src/widgets/auth-layout/form-auth/FormAuth.tsx
  src/widgets/auth-layout/form-auth/index.ts
  src/widgets/auth-layout/form-login/FormLogin.module.scss
  src/widgets/auth-layout/form-login/FormLogin.tsx
  src/widgets/auth-layout/form-login/index.ts
  src/widgets/auth-layout/index.ts
  src/widgets/auth-layout/page-layout/PageLayout.module.scss
  src/widgets/auth-layout/page-layout/PageLayout.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

refactoring authPage
  src/widgets/auth-layout/form-auth/FormAuth.tsx
  src/widgets/auth-layout/form-login/FormLogin.module.scss
  src/widgets/auth-layout/form-login/FormLogin.tsx
  src/widgets/auth-layout/page-layout/PageLayout.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

changed logic JWT tokens
  src/pages/auth-page/AuthPage.tsx
  src/pages/login-page/LoginPage.tsx
  src/widgets/auth-layout/form-auth/FormAuth.tsx
  src/widgets/auth-layout/form-login/FormLogin.tsx
  src/widgets/auth-layout/form-login/index.ts
  src/widgets/auth-layout/index.ts
  src/widgets/auth-layout/page-layout/index.ts
Due: npm run lint, npm run prettier:fix

added callback for submit
  src/features/authorization/form-auth/FormAuth.module.scss
  src/features/authorization/form-auth/FormAuth.tsx
  src/features/authorization/form-logic/errorHandler.ts
  src/features/authorization/form-logic/onSubmitForm.ts
  src/features/authorization/form-logic/saveTokensHandler.ts
  src/features/authorization/form-login/FormLogin.tsx
  src/features/authorization/index.ts
  src/features/index.txt
  src/layout/index.txt
  src/layout/page-layout/PageLayout.module.scss
  src/layout/page-layout/PageLayout.tsx
  src/pages/auth-page/AuthPage.tsx
  src/pages/auth-page/index.ts
  src/pages/index.ts
  src/pages/login-page/LoginPage.tsx
  src/pages/login-page/index.ts
  src/shared/assets/icons/eye.svg
  src/shared/assets/icons/hide.svg
  src/shared/ui/input/Input.module.scss
  src/widgets/auth-layout/form-auth/index.ts
  src/widgets/auth-layout/index.ts
  src/widgets/auth-layout/page-layout/index.ts
Due: npm run stylelint, npm run lint, npm run prettier:fix

some changes
  src/features/authorization/form-auth/FormAuth.module.scss
  src/features/authorization/form-auth/FormAuth.tsx
  src/features/authorization/form-logic/errorHandler.ts
  src/features/authorization/form-logic/onSubmitForm.ts
  src/features/authorization/form-logic/saveTokensHandler.ts
Due: npm run stylelint, npm run lint, npm run prettier:fix

refactiring toggle
  src/shared/ui/toggle/Toggle.module.scss
  src/shared/ui/toggle/Toggle.stories.tsx
  src/shared/ui/toggle/Toggle.tsx
Due: npm run stylelint, npm run lint, npm run prettier:fix

forgot about the color
  src/shared/ui/toggle/Toggle.module.scss
Due: npm run stylelint

added colors
  src/app/styles/colorTheme.scss
Due: npm run stylelint

update auth form validations
  src/features/authorization/form-auth/FormAuth.tsx
  src/shared/schemas/auth.schema.ts
Due: npm run lint, npm run prettier:fix

errors are an array
  src/features/authorization/form-auth/FormAuth.tsx
  src/shared/schemas/auth.schema.ts
Due: npm run lint, npm run prettier:fix
