Repository outsided/project-metall: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint, npm run lint

correct me
  package.json
Due: none

correct
  src/pages/home/Home.tsx
Due: npm run lint

add Typography
  src/assets/galochka.png
  src/components/Typography/Typography.ts
  src/components/Typography/index.tsx
  src/components/Typography/styles.module.scss
  src/pages/home/Home.tsx
Due: npm run stylelint, npm run lint

typography
  src/pages/home/Home.tsx
  src/styles/typography/Text/Text.tsx
  src/styles/typography/Text/index.ts
  src/styles/typography/Text/styles.module.scss
  src/styles/typography/Title/Title.tsx
  src/styles/typography/Title/index.ts
  src/styles/typography/Title/styles.module.scss
Due: npm run stylelint, npm run lint

TypeRedax
  src/app/layout.tsx
  src/pages/home/Home.tsx
  src/store/hooks.ts
  src/store/store.ts
  src/store/todoSlice.ts
  src/testRedax/Testredax.tsx
  src/testRedax/index.ts
Due: npm run lint

typography
  src/pages/home/Home.tsx
  src/styles/typography/Text/Text.tsx
  src/styles/typography/Title/Title.tsx
  src/styles/typography/Title/styles.module.scss
Due: npm run stylelint, npm run lint

typography/components
  src/components/typografy/Text/Text.tsx
  src/components/typografy/Text/index.ts
  src/components/typografy/Text/styles.module.scss
  src/components/typografy/Title/Title.tsx
  src/components/typografy/Title/index.ts
  src/components/typografy/Title/styles.module.scss
Due: npm run stylelint, npm run lint

redaxx
  package.json
  src/app/layout.tsx
  src/pages/home/Home.tsx
  src/store/todoSlice.ts
  src/styles/typography/Text/Text.tsx
  src/styles/typography/Text/index.ts
  src/styles/typography/Text/styles.module.scss
  src/styles/typography/Title/Title.tsx
  src/styles/typography/Title/index.ts
  src/styles/typography/Title/styles.module.scss
  src/testRedax/PRODUCTS.ts
  src/testRedax/Testredax.tsx
  src/testRedax/styles.module.css
Due: npm run stylelint, npm run lint

redax
  src/app/layout.tsx
  src/app/page.tsx
  src/components/providers/AppProvider.tsx
  src/store/store.ts
  src/store/todoSlice.ts
  src/testRedax/PRODUCTS.ts
  src/testRedax/Testredax.tsx
Due: npm run lint

Path conditions:
  npm run stylelint: any of: *.scss
  npm run lint: any of: *.{js,jsx,ts,tsx}
