Repository outsided/project-metall: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn stylelint, yarn lint

fix configure bugs
  src/app/providers/RouterProvider.tsx
Due: yarn lint

add imports to shared && add classNames utils
  src/shared/libs/classNames/classNames.ts
  src/shared/libs/classNames/index.ts
  src/shared/libs/http/index.ts
  src/shared/libs/index.ts
Due: yarn lint

add typografy
  fonts/Montserrat.ttf
  fonts/NunitoSans.ttf
  src/app/styles/fonts.scss
  src/app/styles/index.scss
  src/shared/index.ts
  src/shared/ui/index.ts
  src/shared/ui/typography/Text.module.scss
  src/shared/ui/typography/Text.tsx
  src/shared/ui/typography/Title.module.scss
  src/shared/ui/typography/Title.tsx
  src/shared/ui/typography/Typography.tsx
  src/shared/ui/typography/index.ts
Due: yarn stylelint, yarn lint

migrate yarn -> npm
  .husky/pre-commit
  package-lock.json
  yarn.lock
Due: none

init storybook
  .eslintrc.json
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
Due: yarn lint

made icon component
  .eslintrc.json
  package-lock.json
  package.json
  src/shared/assets/icons/add.svg
  src/shared/assets/icons/arrow.svg
  src/shared/assets/icons/edit.svg
  src/shared/assets/icons/notifications.svg
  src/shared/assets/icons/search.svg
  src/shared/assets/icons/settings.svg
  src/shared/ui/icon/Icon.stories.ts
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/icon/icon.module.scss
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/utils.ts
  vite.config.ts
Due: yarn stylelint, yarn lint

add profile course statistic component && fix typografy bugs
  .eslintrc.json
  src/shared/libs/i18n/locales/en.json
  src/shared/libs/i18n/locales/ru.json
  src/shared/ui/icon/Icon.stories.ts
  src/shared/ui/typography/Typography.tsx
  src/shared/ui/typography/text/Text.module.scss
  src/shared/ui/typography/text/Text.stories.tsx
  src/shared/ui/typography/text/Text.tsx
  src/shared/ui/typography/text/index.ts
  src/shared/ui/typography/title/Title.module.scss
  src/shared/ui/typography/title/Title.stories.tsx
  src/shared/ui/typography/title/Title.tsx
  src/shared/ui/typography/title/index.ts
  src/widgets/index.txt
  src/widgets/profile/index.ts
  src/widgets/profile/ui/index.ts
  src/widgets/profile/ui/profile-course-statistic/ProfileCourseStatistic.module.scss
  src/widgets/profile/ui/profile-course-statistic/ProfileCourseStatistic.tsx
  src/widgets/profile/ui/profile-course-statistic/course-mentor-example.png
  src/widgets/profile/ui/profile-course-statistic/index.ts
Due: yarn stylelint, yarn lint

header notification item added
  src/widgets/header/index.ts
  src/widgets/header/ui/header-notification-item/HeaderNotificationItem.module.scss
  src/widgets/header/ui/header-notification-item/HeaderNotificationItem.tsx
  src/widgets/header/ui/header-notification-item/index.ts
  src/widgets/header/ui/index.ts
Due: yarn stylelint, yarn lint

create precente circle component
  src/shared/assets/icons/done.svg
  src/shared/ui/icon/Icon.stories.ts
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/icon/utils.ts
  src/shared/ui/index.ts
  src/shared/ui/percent-circle/PercentCircle.module.scss
  src/shared/ui/percent-circle/PercentCircle.stories.tsx
  src/shared/ui/percent-circle/PercentCircle.tsx
  src/shared/ui/percent-circle/index.ts
  src/shared/ui/percent-circle/percent-circle-example.png
Due: yarn stylelint, yarn lint

add classname props
  src/shared/ui/percent-circle/PercentCircle.tsx
Due: yarn lint

create toggle component
  src/shared/ui/index.ts
  src/shared/ui/toggle/Toggle.module.scss
  src/shared/ui/toggle/Toggle.stories.tsx
  src/shared/ui/toggle/Toggle.tsx
  src/shared/ui/toggle/index.ts
Due: yarn stylelint, yarn lint

fix bugs
  src/entities/course/index.ts
  src/entities/course/ui/course-icon/CourseIcon.module.scss
  src/entities/course/ui/course-icon/CourseIcon.tsx
  src/entities/course/ui/course-icon/index.ts
  src/entities/course/ui/index.ts
  src/entities/index.txt
  src/shared/assets/icons/course-icon.svg
  src/shared/ui/icon/Icon.stories.ts
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/utils.ts
  src/shared/ui/index.ts
Due: yarn stylelint, yarn lint

review fixes
  src/widgets/header/index.ts
  src/widgets/header/ui/header-notification-item/HeaderNotificationItem.module.scss
  src/widgets/header/ui/header-notification-item/HeaderNotificationItem.tsx
  src/widgets/header/ui/header-notification-item/user-image.png
Due: yarn stylelint, yarn lint

create calendar-task-radio-button
  .lintstagedrc
  src/shared/libs/i18n/locales/en.json
  src/shared/libs/i18n/locales/ru.json
  src/shared/ui/index.ts
  src/shared/ui/radio-button/RadioButton.module.scss
  src/shared/ui/radio-button/RadioButton.stories.ts
  src/shared/ui/radio-button/RadioButton.tsx
  src/shared/ui/radio-button/index.ts
  src/widgets/calendar/ui/calendar-task-radio-button-item/CalendarTaskRadioButtonItem.module.scss
  src/widgets/calendar/ui/calendar-task-radio-button-item/CalendarTaskRadioButtonItem.tsx
  src/widgets/calendar/ui/calendar-task-radio-button-item/index.ts
  src/widgets/calendar/ui/calendar-task-radio-button-list/CalendarTaskRadioButtonList.module.scss
  src/widgets/calendar/ui/calendar-task-radio-button-list/CalendarTaskRadioButtonList.tsx
  src/widgets/calendar/ui/calendar-task-radio-button-list/index.ts
  src/widgets/calendar/ui/calendar-task-radio-button-list/radio-buttons.data.ts
  src/widgets/calendar/ui/calendar-task-radio-button-list/types.ts
Due: yarn stylelint, yarn lint

sidebar item added
  src/shared/ui/icon/index.ts
  src/shared/ui/index.ts
  src/widgets/sidebar/ui/index.ts
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.module.scss
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.tsx
  src/widgets/sidebar/ui/sidebar-item/index.ts
Due: yarn stylelint, yarn lint

small fixes
  src/shared/ui/index.ts
  src/widgets/sidebar/ui/index.ts
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.tsx
  src/widgets/sidebar/ui/sidebar-item/index.ts
Due: yarn lint

add storybook
  src/entities/course/ui/course-icon/CourseIcon.module.scss
  src/entities/course/ui/course-icon/CourseIcon.stories.ts
  src/entities/course/ui/course-icon/CourseIcon.tsx
Due: yarn stylelint, yarn lint

deleted storybook
  src/entities/course/ui/course-icon/CourseIcon.module.scss
  src/entities/course/ui/course-icon/CourseIcon.stories.ts
  src/entities/course/ui/course-icon/CourseIcon.tsx
Due: yarn stylelint, yarn lint

fixed bugs
  src/entities/course/ui/course-icon/CourseIcon.tsx
Due: yarn lint

add header-search
  src/shared/libs/i18n/locales/en.json
  src/shared/libs/i18n/locales/ru.json
  src/widgets/header/ui/header-search/HeaderSearch.module.scss
  src/widgets/header/ui/header-search/HeaderSearch.tsx
  src/widgets/header/ui/header-search/index.ts
Due: yarn stylelint, yarn lint

bugs fixed
  src/widgets/header/ui/header-search/HeaderSearch.module.scss
  src/widgets/header/ui/header-search/index.ts
Due: yarn stylelint, yarn lint

Initial commit
  .gitignore
  README.md
Due: none

fix bugs
  src/shared/libs/i18n/locales/en.json
  src/shared/libs/i18n/locales/ru.json
Due: none

sidebar added & resolve merge conflicts
  src/shared/assets/icons/calendar.svg
  src/shared/assets/icons/courses.svg
  src/shared/assets/icons/dashboard.svg
  src/shared/assets/icons/infoPortal.svg
  src/shared/assets/icons/logout.svg
  src/shared/assets/icons/messenger.svg
  src/shared/assets/icons/teachers.svg
  src/shared/assets/images/mainLogo.png
  src/shared/ui/icon/utils.ts
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/ui/index.ts
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.module.scss
  src/widgets/sidebar/ui/sidebar-item/SidebarItem.tsx
  src/widgets/sidebar/ui/sidebar/Sidebar.module.scss
  src/widgets/sidebar/ui/sidebar/Sidebar.tsx
  src/widgets/sidebar/ui/sidebar/index.ts
Due: yarn stylelint, yarn lint

add checkbox
  src/shared/ui/checkbox/Checkbox.module.scss
  src/shared/ui/checkbox/Checkbox.stories.ts
  src/shared/ui/checkbox/Checkbox.tsx
  src/shared/ui/checkbox/index.ts
  src/shared/ui/icon/utils.ts
Due: yarn stylelint, yarn lint

profile course item added
  src/shared/ui/icon/utils.ts
  src/widgets/profile/ui/profile-course-item/ProfileCourseItem.module.scss
  src/widgets/profile/ui/profile-course-item/ProfileCourseItem.tsx
  src/widgets/profile/ui/profile-course-item/index.ts
Due: yarn stylelint, yarn lint

configure project
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc
  .stylelintrc.json
  README.md
  next.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/pages/home/Home.tsx
  src/pages/home/index.ts
  src/styles/index.scss
  src/styles/reset.scss
  src/utils/axios/http.ts
  src/utils/axios/index.ts
  src/utils/classNames/classNames.ts
  src/utils/classNames/index.ts
  src/utils/metadata/index.ts
  src/utils/metadata/metadata.ts
  tsconfig.json
Due: yarn stylelint, yarn lint

add redux
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/providers/AppProvider.tsx
  src/components/providers/ReduxProvider.tsx
  src/components/providers/index.ts
  src/store/hooks.ts
  src/store/index.ts
  src/store/store.ts
Due: yarn lint

prettier formatted
  src/shared/ui/checkbox/Checkbox.module.scss
  src/shared/ui/checkbox/Checkbox.stories.ts
Due: yarn stylelint, yarn lint

profile dropdown filter added
  src/shared/ui/icon/utils.ts
  src/widgets/profile/ui/dropdown-filter/DropdownFilter.module.scss
  src/widgets/profile/ui/dropdown-filter/DropdownFilter.tsx
  src/widgets/profile/ui/dropdown-filter/index.ts
  src/widgets/profile/ui/index.ts
Due: yarn stylelint, yarn lint

change component directory
  src/shared/ui/dropdown-filter/DropdownFilter.module.scss
  src/shared/ui/dropdown-filter/DropdownFilter.tsx
  src/shared/ui/dropdown-filter/index.ts
  src/shared/ui/index.ts
  src/widgets/profile/ui/index.ts
Due: yarn stylelint, yarn lint

made component reusable
  src/shared/ui/dropdown-filter/Dropdown.stories.tsx
  src/shared/ui/dropdown-filter/DropdownFilter.module.scss
  src/shared/ui/dropdown-filter/DropdownFilter.tsx
  src/shared/ui/dropdown-filter/index.ts
  src/shared/ui/dropdown-filter/types.ts
  src/shared/ui/index.ts
Due: yarn stylelint, yarn lint

renamed component
  src/shared/ui/dropdown-filter/index.ts
  src/shared/ui/dropdown/Dropdown.module.scss
  src/shared/ui/dropdown/Dropdown.stories.tsx
  src/shared/ui/dropdown/Dropdown.tsx
  src/shared/ui/dropdown/index.ts
  src/shared/ui/dropdown/types.ts
  src/shared/ui/index.ts
Due: yarn stylelint, yarn lint

small fixes
  src/widgets/sidebar/ui/sidebar/Sidebar.tsx
  src/widgets/sidebar/ui/sidebar/sidebar.data.ts
Due: yarn lint

profile course list added & some fixes in profile course item component
  src/shared/assets/icons/arrow.svg
  src/shared/assets/icons/chevron.svg
  src/shared/ui/icon/Icon.stories.ts
  src/shared/ui/icon/utils.ts
  src/widgets/profile/index.ts
  src/widgets/profile/ui/index.ts
  src/widgets/profile/ui/profile-course-item/ProfileCourseItem.module.scss
  src/widgets/profile/ui/profile-course-item/ProfileCourseItem.tsx
  src/widgets/profile/ui/profile-course-list/Profile-course-list.module.scss
  src/widgets/profile/ui/profile-course-list/ProfileCourseList.tsx
  src/widgets/profile/ui/profile-course-list/index.ts
  src/widgets/profile/ui/profile-course-list/profile-course-list.data.ts
Due: yarn stylelint, yarn lint

added icons to storybook
  src/shared/ui/icon/Icon.stories.ts
Due: yarn lint

correct me
  Public/img/1.png
  Public/img/2.png
  Public/img/3.png
  package.json
  src/components/Content/Componentmap/contentCard.tsx
  src/components/Content/Componentmap/index.tsx
  src/components/Content/Componentmap/styles.module.scss
  src/components/providers/AppProvider.tsx
Due: yarn stylelint, yarn lint

correct me
  src/components/Content/Componentmap/styles.module.scss
Due: yarn stylelint

correct me
  src/assets/1.png
  src/assets/2.png
  src/assets/3.png
  src/components/BenefitsSection/BenefitsCard/BenefitsCard.tsx
  src/components/BenefitsSection/BenefitsCard/index.tsx
  src/components/BenefitsSection/BenefitsCard/styles.module.scss
  src/components/providers/AppProvider.tsx
  src/pages/home/Home.tsx
Due: yarn stylelint, yarn lint

Path conditions:
  yarn stylelint: any of: *.scss
  yarn lint: any of: *.{js,jsx,ts,tsx}
